<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MultiDorpDownMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36065EAA1F4EC5910050D3AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36065EC31F4EC5920050D3AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36065ECE1F4EC5920050D3AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
